:root {
  --primary-purple: #6c5ce7;
  --dark-purple: #2d3436;
  --bg-color: #0f0c29; 
  --glass-bg: rgba(255, 255, 255, 0.05);
  --text-white: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: var(---text-white);
  line-height: 1.6;
}

/* Header & Nav */
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10%;
  align-items: center;
  background: rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo { font-weight: 600; font-size: 1.5rem; color: var(--primary-purple); }
.links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;
}
.links a:hover { color: var(--primary-purple); }

.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#typing {
  font-size: 2.5rem;
  color: var(--primary-purple);
  margin-bottom: 10px;
}

section { padding: 100px 10%; }
h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 50px;
  color: #a29bfe;
}

/* Cards de Projetos */
.projetos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.projeto-card {
  background: var(--glass-bg);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.4s ease;
  backdrop-filter: blur(5px);
}

.projeto-card:hover {
  transform: translateY(-15px);
  border-color: var(--primary-purple);
  background: rgba(108, 92, 231, 0.1);
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 20px;
  background: var(--primary-purple);
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 0.9rem;
}

.certificados-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  background: rgba(255,255,255,0.03);
  padding: 15px 25px;
  border-left: 4px solid var(--primary-purple);
  border-radius: 8px;
}

/* Contato */
#contato { text-align: center; }
.contato-links a {
  font-size: 1.5rem;
  color: white;
  margin: 0 20px;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 40px;
  background: rgba(0,0,0,0.3);
}

.hero-subtitle {
  font-size: 1.8rem;           
  font-weight: 300;            
  letter-spacing: 2px;         
  text-transform: uppercase;   
  
  /* Efeito de Cor Gradiente */
  background: linear-gradient(90deg, #ffffff, #a29bfe, #ffffff);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 4s linear infinite;
  
  margin-top: 10px;
  opacity: 0.9;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@media (max-width: 768px) {
  .hero-subtitle {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}
